	font-size:;
	font-family:;
	font-weight:;
	text-decoration:;
	text-shadow:;
	color:;	
	background:;	

	padding:;
	border:;
	margin:;
	outline:;
		
	width:;
	min-width:;
	height:;
	min-height:;

	display:;
	top:;
	left:;
	bottom:;
	right:;	
